# dependencies
/node_modules

# production
/build/

/database
/public/**
init-production.sql
web-root
dhparam
views

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
# env
/.env
ssl_renew.sh
